.cartItems{
    background-color: white;
    flex: 0.7;
    text-align: left;
    }
.cartItems h1{
    margin-left: 20px;
    margin-right: 15px;
    padding-bottom: 10px;
    border-bottom: 2px solid #DDDDDD;

}